body {
    background:  hsl(40, 43%, 85%);
    font-family: Arial, sans-serif;
    height: 90vh;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

img {
    width: 100px;
    justify-content: CENTER;
    align-items: center;
}

/* tbody > tr {
    border: 1px solid black;
} */

table {
    width: 100%;
}

th{
    justify-content: center;
    align: center;
    border: 1px solid black;
    padding: 5px;
}

td {
    padding: 0;
    border: 1px solid black;
}

.centralizarTd{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 35px;
}

footer {
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

footer > div {
    /* position: relative;  */
    margin-right: 5px;
}

.slackey-regular {
    font-family: "Slackey", sans-serif;
    font-weight: 1200;
    font-style: bold;
    color: black;
  }
  

.redes-sociais{
    align-items: center;
}

.destaque {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: black;
}

.divisao-times {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.divisao-times>div {
    margin: 2px;
}

.time {
    margin: 10px;
    padding: 2px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeLaranja {
    background-color: #F18836;
    color: #000;
    font-size: x-large;
    font-weight: bold;
}

.timePreto {
    background-color: #000;
    color: #F18836;
    font-size: x-large;
    font-weight: bold;
}

.fundo-externo-modal{
    min-height: 100%;
    font-size: x-large;
    background-image: url(./img/campo-futebol.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cartas{
    color: white;
    min-height: 100%;
    background-image: url(./img/cartas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fundo-modal {
    /* background: #F18836; */
    background-image: url(./img/fundo_sorteio.png);
}

.imgPrincipal {
    margin: 2px;
    weight: auto;
    height: auto;
}

.imgModal {
    margin: 2px;
    weight: 10px;
    height: auto;
}

.body-tela-inicial {
    /* background: #F18836; */
    min-height: 100%;
    background-image: url(./img/fundo_sorteio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.tela-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.icones-sorteio{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    
}

.icones-sorteio > div{
    display: flex;
    margin: 15px;
    background: black;
    color: orange;
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.icones-sorteio> div > a{
    display: flex;
    margin: 15px;
    color: #000;
    font-size: large;
    background: black;
    color: orange;
    }

.nav-sorteio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 0 90px;
}

.result-sorteio {
    padding: 1px;
}

.titleSorteio{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-Align: center;

}

.tabela-confirmacao {
    align: center;
    font-weight: bold;    
}

.fundo-confirmacao{
    min-height: 100%;
    background-image: url(./img/fundo_sorteio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#botaoConfirmar, #botaoSortear {
    margin: 10px;
    background: black;
    color: orange;
    width:200px;
    height: 50px;
    border-radius: 30px;
}



#listaConfirmada {
    display:column;
    justify-content: center;
    align-items: center;
    text-Align: center;
    padding: 0 35px;
    color: orange;
    font-weight: bold; 
    list-style-type: none;
}

#lista-jogadores:hover{
    cursor: pointer;
}

#patrocinio{
    /* background-color: #F18836; */
    width: 750px;
    height: 75px;
}

#patrocinio-sorteio{
    /* background-color: #F18836; */
    width: 500px;
    height: auto;
}

#logo {
    width: 150px;
    height: auto;
}

