body {
    background:  hsl(40, 43%, 85%);
    font-family: Arial, sans-serif;
    height: 95vh;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

img {
    width: 100px;
    justify-content: CENTER;
    align-items: center;
}

th{
    justify-content: center;
    align: center;
    
}

.divisao-times {
    display: flex;
    margin: 10px;
}

.divisao-times>div {
    margin: 5px;
}

.time {
    margin: 20px;
    padding: 5px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeLaranja {
    background-color: #FFA500;
    color: #000;
    font-size: x-large;
    font-weight: bold;
}

.timePreto {
    background-color: #000;
    color: #FFA500;
    font-size: x-large;
    font-weight: bold;
}

.body-tela-inicial {
    background: #FFA500;
}

.tela-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icones-sorteio{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    
}

.icones-sorteio > div{
    display: flex;
    margin: 15px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.icones-sorteio> div > a{
    display: flex;
    margin: 15px;
    color: #000;
    font-size: large;
    font-weight: bold;
}

.nav-sorteio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.tabela-confirmacao {
    align: center;
}

#botaoConfirmar {
    margin: 10px;
}